<app-index-navbar></app-index-navbar>

<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover">
   
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-85 bg-black"
      >

      
      <video  src="../../../assets/video/Uso.mp4" 
      autoplay loop playsinline muted style=" bottom: 0px;position: absolute; right: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      background-color:rgba(0, 0, 0, 0.5);
      "></video>
   
 
     
      </span>
    </div>
    <div class="container relative mx-auto">
    
      <div class="items-center flex flex-wrap">
    
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
         
          <div class="pr-12">
        
            <h1 class="text-white font-semibold text-5xl">
             MARCO TE SOLUCIONA
            </h1>
           
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Experiencia</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Te ofrecemos una experiencia donde te podrás autogestionar ante una necesidad tecnológica
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Autogestión</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Disponibilidad y acceso a un servicio autogestionado 7x24
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
              >
              <i class="fas fa-comments"></i>
              </div>
              <h6 class="text-xl font-semibold">Canales</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
               
Contamos con diferentes canales para la prestación de nuestro (autogestión, soporte remoto y en sitio)
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            ¿Quién es MATIAS?
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
          >
          Marco es un servicio interactivo, que te guiará a través de diferentes canales de atención donde podrás tener diagnóstico, respuestas que te ayudarán a tener soluciones de manera rápida a tus necesidades tecnológicas como lo son:
          </p>

          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                  >
                  <i class="fas fa-laptop"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Inconvenientes con tus equipos de computo
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                  >
                  <i class="fas fa-wifi"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Conectividad.
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                  >
                  <i class="fas fa-envelope-open-text"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Plataformas de correo
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                  >
                  <i class="far fa-comment"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Mensajería, ofimática, entre otros. 
                  </h4>
                </div>
              </div>
            </li>
            

          </ul>
          <br>
         


         
          <a [routerLink]="['/']" class="font-bold text-blueGray-700 mt-8">
       

           <button
           class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
           type="button"
         >
          LLEVAME A INTERACTUR
         </button>
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600" style="background-color: #7225e4;"
          >
           <div style="background-color: white;"> <img
            style="width: 50%;"
            src="../../../assets/img/marco.png"
            class=" align-middle rounded-t-lg"
          /></div> 
         
            <blockquote style="padding: 1rem; background-color: #7225e4;" class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                  style="color: #7225e4;"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white " style="text-align: center">Con pocos clics podrás</h4>
              <p class="text-md font-light mt-2 text-white">
                * Autogestionarte 
              </p>
              <p class="text-md font-light mt-2 text-white">
                * Tener soporte remoto 
              </p>
              <p class="text-md font-light mt-2 text-white">
                * Tener Soporte en sitio
              </p>
             
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <video  src="../../../assets/video/support.mp4" 
      autoplay loop playsinline muted ></video>
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Características del servicio</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Soporte técnico a equipos de cómputo a nivel de hardware y sistema operativo 
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Mantenimiento preventivo lógico 
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Monitoreo en tiempo real del estado de tu equipo de computo 
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Monitoreo en tiempo real del estado de tu conexión
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Catálogo de aplicaciones que podrás instalar en tu equipo de computo 
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Backup de tu información  
            </p>
           

            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fas fa-robot"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Servicio de Chatbot para consultas y soluciones rápidas 
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fab fa-whatsapp"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Atención remota vía WhatsApp con nuestros profesionales de soporte
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fas fa-user-cog"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Atención en sitio presencial con nuestros profesionales de soporte
                    </h4>
                  </div>
                </div>
              </li>
              

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="background-image: url('https://image.freepik.com/vector-gratis/fondo-forma-geometrica-brillante_1409-872.jpg')">
  <section class="pt-20 pb-48" style="background-color: #622cff;opacity: 0.8;padding-bottom: 3rem;">
   
    


    <div class="container mx-auto px-4"  >
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h1 class="text-4xl font-semibold" style="color: white;font-family: Poppins,sans-serif;font-weight: 700;">Crea tu cuenta gratis</h1>
          <br>
          <h2 style="color: white;font-family: Roboto,sans-serif;font-weight: 500;font-size: 17px;">Prueba todas las características de Matias durante 1 mes
            y Agiliza tu Equipo</h2>
            <br>
            <button
           class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
           type="button"
         >
          Ir A Crear mi cuenta
         </button>
        </div>
        
      </div>
      
     <div class="flex flex-wrap">
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto"  >
       
        </div>
        
       
        
      
      </div>
    </div>
  </section>
</div>

  <section class="pb-20 relative block bg-blueGray-800">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-800 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Te Asesoramos</h2>
         
        </div>
      </div>
    
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-blueGray-800">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200"
          >
            <div class="flex-auto p-5 lg:p-10">
             
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="full-name"
                >
                  Nombre Completo
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder=" Nombre Completo"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="email"
                >
                  Email
                </label>
                <input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="message"
                >
                  Mensaje
                </label>
                <textarea
                  rows="4"
                  cols="80"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Escribe el mensaje"
                ></textarea>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Enviar Mensaje
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
