



<app-index-navbar></app-index-navbar>
<section style="height: 37vh;" class="header relative pt-16 items-center flex max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Elige el plan que más se ajuste a tus necesidades
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          El valor de tu plan dependerá del número de equipos que tengas.
          <a
            href="https://tailwindcss.com/?ref=creativetim"
            class="text-blueGray-600"
            target="_blank"
          >
            
          </a>
          
        </p>
      
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="https://image.freepik.com/vector-gratis/vector-abstracto-blanco-textura-neural_53876-85207.jpg"
    style="transform: scaleX(-1);"
  />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  



  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
       <!--Card 1-->
       <div
       class="w-6/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 "
       style="margin-top: -2rem; width: 20%;"
      >
       <div
       style="background-color: #622cff;"
         class="relative flex flex-col min-w-0 break-words bg-white  mb-6 shadow-lg rounded-lg bg-red-600"
       >
         <img
           alt="..."
           src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
           class="w-full align-middle rounded-t-lg"
         />
         <blockquote class="relative p-8 mb-4" style="background-color: #622cff;">
           <svg
             preserveAspectRatio="none"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 583 95"
             class="absolute left-0 w-full block h-95-px -top-94-px"
           >
             <polygon
               points="-30,95 583,95 583,65"
               class="text-red-600 fill-current"
               style="color: #622cff;"
             ></polygon>
           </svg>
           <h4 class="text-xl font-bold text-white">
            Plan Bronze
           </h4>
           
         </blockquote>
         <div style="position: inherit;
         left: 22%;">
          <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Crear Cuenta
          </button>
         </div>
         
       </div>
      
      </div>

 <!--Card 2-->
 <div
 class="w-6/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 "
 style="margin-top: -2rem; width: 20%;"
>
 <div
 style="background-color: #622cff;"
   class="relative flex flex-col min-w-0 break-words bg-white  mb-6 shadow-lg rounded-lg bg-red-600"
 >
   <img
     alt="..."
     src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
     class="w-full align-middle rounded-t-lg"
   />
   <blockquote class="relative p-8 mb-4" style="background-color: #622cff;">
     <svg
       preserveAspectRatio="none"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 583 95"
       class="absolute left-0 w-full block h-95-px -top-94-px"
     >
       <polygon
         points="-30,95 583,95 583,65"
         class="text-red-600 fill-current"
         style="color: #622cff;"
       ></polygon>
     </svg>
     <h4 class="text-xl font-bold text-white">
      Plan Silver
     </h4>
     
   </blockquote>
   <div style="position: inherit;
   left: 22%;">
    <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
      Crear Cuenta
    </button>
   </div>
   
 </div>

</div>

    <!--Card 3-->
    <div
    class="w-6/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 "
    style="margin-top: -2rem; width: 20%;"
   >
    <div
    style="background-color: #622cff;"
      class="relative flex flex-col min-w-0 break-words bg-white  mb-6 shadow-lg rounded-lg bg-red-600"
    >
      <img
        alt="..."
        src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
        class="w-full align-middle rounded-t-lg"
      />
      <blockquote class="relative p-8 mb-4" style="background-color: #622cff;">
        <svg
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 583 95"
          class="absolute left-0 w-full block h-95-px -top-94-px"
        >
          <polygon
            points="-30,95 583,95 583,65"
            class="text-red-600 fill-current"
            style="color: #622cff;"
          ></polygon>
        </svg>
        <h4 class="text-xl font-bold text-white">
          Plan Gold
        </h4>
        
      </blockquote>
      <div style="position: inherit;
      left: 22%;">
       <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
         Crear Cuenta
       </button>
      </div>
      
    </div>
   
   </div>

  <!--Card 4-->
  <div
       class="w-6/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 "
       style="margin-top: -2rem; width: 20%;"
      >
       <div
       style="background-color: #622cff;"
         class="relative flex flex-col min-w-0 break-words bg-white  mb-6 shadow-lg rounded-lg bg-red-600"
       >
         <img
           alt="..."
           src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
           class="w-full align-middle rounded-t-lg"
         />
         <blockquote class="relative p-8 mb-4" style="background-color: #622cff;">
           <svg
             preserveAspectRatio="none"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 583 95"
             class="absolute left-0 w-full block h-95-px -top-94-px"
           >
             <polygon
               points="-30,95 583,95 583,65"
               class="text-red-600 fill-current"
               style="color: #622cff;"
             ></polygon>
           </svg>
           <h4 class="text-xl font-bold text-white">
            Soporte remoto
           </h4>
           
         </blockquote>
         <div style="position: inherit;
         left: 22%;">
          <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Crear Cuenta
          </button>
         </div>
         
       </div>
      
      </div>

 <!--Card 5-->
 <div
       class="w-6/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 "
       style="margin-top: -2rem; width: 20%;"
      >
       <div
       style="background-color: #622cff;"
         class="relative flex flex-col min-w-0 break-words bg-white  mb-6 shadow-lg rounded-lg bg-red-600"
       >
         <img
           alt="..."
           src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
           class="w-full align-middle rounded-t-lg"
         />
         <blockquote class="relative p-8 mb-4" style="background-color: #622cff;">
           <svg
             preserveAspectRatio="none"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 583 95"
             class="absolute left-0 w-full block h-95-px -top-94-px"
           >
             <polygon
               points="-30,95 583,95 583,65"
               class="text-red-600 fill-current"
               style="color: #622cff;"
             ></polygon>
           </svg>
           <h4 class="text-xl font-bold text-white">
             Soporte en Sitio
           </h4>
           
         </blockquote>
         <div style="position: inherit;
         left: 22%;">
          <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Crear Cuenta
          </button>
         </div>
         
       </div>
      
      </div>
    </div>
  </div>


</section>


<app-footer></app-footer>